.about-us {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.about-us .div {
    background-color: #ffffff;
    height: 1024px;
    overflow: hidden;
    position: relative;
    width: 1440px;
}

.about-us .overlap {
    height: 111px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1448px;
}

.about-us .rectangle {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 40px;
    left: 730px;
    position: absolute;
    top: 71px;
    width: 105px;
}

.about-us .header {
    background-color: transparent;
    height: 111px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1448px;
}

.about-us .overlap-group {
    height: 111px;
    position: relative;
    width: 1440px;
}

.about-us .codicon-account {
    height: 40px;
    left: 1370px;
    position: absolute;
    top: 59px;
    width: 40px;
}

.about-us .overlap-group-2 {
    height: 111px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

.about-us .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 110px;
    width: 1440px;
}

.about-us .img {
    height: 111px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 223px;
}

.about-us .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 398px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 80px;
    white-space: nowrap;
}

.about-us .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 504px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 80px;
    white-space: nowrap;
}

.about-us .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 625px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 80px;
    white-space: nowrap;
}

.about-us .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 739px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 80px;
    white-space: nowrap;
}

.about-us .overlap-2 {
    height: 450px;
    left: 0;
    position: absolute;
    top: 111px;
    width: 1448px;
}

.about-us .section {
    height: 450px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1448px;
}

.about-us .overlap-3 {
    background-color: #ffffff;
    height: 450px;
    position: relative;
    width: 1440px;
}

.about-us .text-wrapper-5 {
    color: #24358d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 85px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 63px;
    white-space: nowrap;
}

.about-us .p {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 85px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 110px;
    width: 466px;
}

.about-us .text-wrapper-6 {
    color: #24358d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 964px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 68px;
    width: 398px;
}

.about-us .text-wrapper-7 {
    color: #a89e9e;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 1028px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 280px;
    width: 399px;
}

.about-us .hotline {
    height: 50px;
    left: 1018px;
    position: absolute;
    top: 143px;
    width: 302px;
}

.about-us .hotline-2 {
    color: #24358d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 57px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
    width: 243px;
}

.about-us .span {
    font-weight: 600;
}

.about-us .text-wrapper-8 {
    font-family: "Inter-Regular", Helvetica;
}

.about-us .vector {
    height: 30px;
    left: 10px;
    position: absolute;
    top: 4px;
    width: 30px;
}

.about-us .email {
    height: 50px;
    left: 1024px;
    position: absolute;
    top: 212px;
    width: 50px;
}

.about-us .vector-2 {
    height: 30px;
    left: 4px;
    position: absolute;
    top: 8px;
    width: 30px;
}

.about-us .line-2 {
    height: 400px;
    left: 730px;
    object-fit: cover;
    position: absolute;
    top: 25px;
    width: 1px;
}

.about-us .rectangle-2 {
    height: 70px;
    left: 1095px;
    object-fit: cover;
    position: absolute;
    top: 336px;
    width: 223px;
}

.about-us .text-wrapper-9 {
    color: #24358d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    left: 1075px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 220px;
    white-space: nowrap;
}

.about-us .overlap-4 {
    background-color: #ffffff;
    height: 450px;
    left: 0;
    position: absolute;
    top: 575px;
    width: 1440px;
}

.about-us .cil-home {
    height: 30px;
    left: 1095px;
    position: absolute;
    top: 209px;
    width: 30px;
}

.about-us .text-wrapper-10 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 1097px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 251px;
    width: 343px;
}

.about-us .flexcontainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 349px;
    left: 85px;
    position: absolute;
    top: 55px;
    width: 505px;
}

.about-us .text {
    align-self: stretch;
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
}

.about-us .text-wrapper-11 {
    color: #24358d;
    font-weight: 700;
}

.about-us .text-wrapper-12 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
}

.about-us .rectangle-3 {
    height: 258px;
    left: 816px;
    object-fit: cover;
    position: absolute;
    top: 74px;
    width: 231px;
}

.about-us .flexcontainer-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 190px;
    left: 1095px;
    position: absolute;
    top: 9px;
    width: 237px;
}

.about-us .span-wrapper {
    align-self: stretch;
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
}

.about-us .text-wrapper-13 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
}

.about-us .iconamoon-phone-thin {
    height: 30px;
    left: 1097px;
    position: absolute;
    top: 344px;
    width: 30px;
}

.about-us .iconamoon-phone-thin-2 {
    height: 30px;
    left: 1097px;
    position: absolute;
    top: 387px;
    width: 30px;
}

.about-us .text-wrapper-14 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 1131px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 395px;
    white-space: nowrap;
}

.about-us .text-wrapper-15 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 1131px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 350px;
    white-space: nowrap;
}
