:root {
  --primaryColor: rgb(252, 101, 0);

  header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 99vw;
    justify-content: space-around;
    z-index: 10;
    background-color: rgb(246, 238, 238);
  }
}
.header ul {
  display: flex;
  list-style-type: none;
  height: 100px;
  align-items: center;
}
.header {
  padding: 0 100px;
}
.header ul li {
  padding: 0 20px;
}
.header ul li:hover {
  cursor: pointer;
  color: var(--primaryColor);
}
.Logo img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
header button {
  margin-right: 20px;
  width: 100px;
  background-color: transparent;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 36px;
}
header button:hover {
  background-color: var(--primaryColor);
}

