.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  flex: 2; /* Chiếm 2 phần trên 12 */
  font-size: 24px;
  font-weight: bold;
  color: #ffa500; /* Adjust the color to match your brand logo */

}

.navigation {
  flex: 6; /* Chiếm 6 phần trên 12 */
  display: flex;
  justify-content: center; /* Canh giữa các mục trong navigation */
  align-items: center; /* Canh giữa theo chiều dọc */
  list-style: none;
}

.navigation a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
  font-size: 18px;
}

.navigation a:hover {
  color: #000;
}

.login-button {
  flex: 1; /* Chiếm 2 phần trên 12 */
  display: flex;
  justify-content: center; /* Canh sang phải */
  align-items: center; /* Canh giữa theo chiều dọc */
}