.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; 
}

.filter-item {
  flex: 1;
  margin-right: 10px;
}

.filter-item label {
  margin-right: 5px;
}

.filter-item select {
  width: 100%;
}

.view-more-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.view-more-button:hover {
  background-color: #0056b3;
}

.property-list {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 50px; /* Điều chỉnh giá trị tùy ý để tạo khoảng cách */
}

.apartment-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.apartment-card {
  flex: 0 0 auto;
  width: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.apartment-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.apartment-image img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.apartment-details {
  padding: 10px;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 80%; /* Điều chỉnh độ rộng */
  margin: 15px;
}

.filter-item {
  flex: 1;
  margin-right: 10px;
}

.filter-item label {
  margin-right: 5px;
}

.filter-item select {
  width: 100%;
}

.filter-item:last-child {
  flex: 0 0 auto;
}

.filter-item:last-child button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-item:last-child button:hover {
  background-color: #0056b3;
}
